@model ASPTest.Models.MTG.MTGCardDetail

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MTG Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Names)
        </dt>
        <dd>
            <ul>
                @foreach (var name in Model.Names)
                {
                    <li>
                        @Html.DisplayFor(model => name)
                    </li>
                }
            </ul>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManaCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManaCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CMC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CMC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Colors)
        </dt>
        <dd>
            <ul>
                @foreach (var color in Model.Colors)
                {
                    <li>
                        @Html.DisplayFor(model => color)
                    </li>
                }
            </ul>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ColorIdentities)
        </dt>
        <dd>
            <ul>
                @foreach (var colorId in Model.ColorIdentities)
                {
                    <li>
                        @Html.DisplayFor(model => colorId)
                    </li>
                }
            </ul>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuperTypes)
        </dt>
        <dd>
            <ul>
                @foreach (var superType in Model.SuperTypes)
                {
                    <li>
                        @Html.DisplayFor(model => superType)
                    </li>
                }
            </ul>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Types)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Types)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubTypes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTypes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rarity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Set)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Set)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flavor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flavor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Toughness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Toughness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Layout)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Layout)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MultiverseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MultiverseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Watermark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Watermark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rulings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rulings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ForeignNames)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ForeignNames)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Variations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Variations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Printings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Printings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OriginalText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginalText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OriginalType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginalType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Legalities)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Legalities)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CardSearch">Back to List</a>
</div>
