@model ASPTest.Models.MTG.MTGCardDetail

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <img src="@Html.DisplayFor(model => model.ImageURL)" />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Names)
        </dt>
        <dd>
            <ul>
                @foreach (var name in Model.Names)
                {
                    <li>
                        @Html.DisplayFor(model => name)
                    </li>
                }
            </ul>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.ManaCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManaCost)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.CMC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CMC)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Colors)
        </dt>
        <dd>
            <ul>
                @foreach (var color in Model.Colors)
                {
                    <li>
                        @Html.DisplayFor(model => color)
                    </li>
                }
            </ul>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.ColorIdentities)
        </dt>
        <dd>
            <ul>
                @foreach (var colorId in Model.ColorIdentities)
                {
                    <li>
                        @Html.DisplayFor(model => colorId)
                    </li>
                }
            </ul>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.SuperTypes)
        </dt>
        <dd>
            <ul>
                @foreach (var superType in Model.SuperTypes)
                {
                    <li>
                        @Html.DisplayFor(model => superType)
                    </li>
                }
            </ul>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Types)
        </dt>
        <dd>
            <ul>
                @foreach (var type in Model.Types)
                {
                    <li>
                        @Html.DisplayFor(model => type)
                    </li>
                }
            </ul>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.SubTypes)
        </dt>
        <dd>
            <ul>
                @foreach (var subType in Model.SubTypes)
                {
                    <li>
                        @Html.DisplayFor(model => subType)
                    </li>
                }
            </ul>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rarity)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Set)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Set)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.SetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SetName)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Flavor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flavor)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Power)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Toughness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Toughness)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Layout)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Layout)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.MultiverseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MultiverseID)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Watermark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Watermark)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Rulings)
        </dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Rulings[0].Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rulings[0].Text)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ruling in Model.Rulings)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => ruling.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ruling.Text)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.ForeignNames)
        </dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ForeignNames[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ForeignNames[0].Text)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ForeignNames[0].Flavor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ForeignNames[0].ImageURL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ForeignNames[0].Language)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ForeignNames[0].MultiverseID)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var name in Model.ForeignNames)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => name.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => name.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => name.Flavor)
                            </td>
                            <td>
                                <img src="@Html.DisplayFor(model => name.ImageURL)" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => name.Language)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => name.MultiverseID)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Variations)
        </dt>
        <dd>
            <ul>
                @foreach (var variation in Model.Variations)
                {
                    <li>
                        @Html.DisplayFor(model => variation)
                    </li>
                }
            </ul>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Printings)
        </dt>
        <dd>
            <ul>
                @foreach (var printing in Model.Printings)
                {
                    <li>
                        @Html.DisplayFor(model => printing)
                    </li>
                }
            </ul>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.OriginalText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginalText)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.OriginalType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginalType)
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.Legalities)
        </dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Legalities[0].Format)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Legalities[0].LegalStatus)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var legality in Model.Legalities)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => legality.Format)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => legality.LegalStatus)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        <hr noshade>
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <hr noshade>
    </dl>
</div>
<div>
    <a asp-action="CardSearch">Back to List</a>
</div>
