@model ASPTest.Models.MTG.MTGCardSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Card List</h2>

<form asp-controller="MTG" asp-action="CardSearch" method="get">
    <p>
        Card Name:
    </p>
    <p>
        <input type="text" name="NameFilter" />
    </p>
    <p>
        Set Name:
    </p>
    <p>
        <select asp-for="SetFilter" asp-items="Model.SetFilterList">
            <option value="">All</option>
        </select>
    </p>
    <p>
        @for (int i = 0; i < Model.ColorOptions.Count; i++)
        {
            <input name="@Model.ColorOptions[i]" type="checkbox" value="@Model.ColorOptions[i]">
            @Html.Label(@Model.ColorOptions[i])
        }
    </p>
    <p>
        Type:
    </p>
    <p>
        <input type="text" name="TypeFilter" />
    </p>
    <p>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cards[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cards[0].Colors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cards[0].SetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cards[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cards)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
