@model ASPTest.Models.MTG.MTGCardSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<link href="@Url.Content("~/css/cardSearch.css")" rel="stylesheet" type="text/css" />

<h2>Card List</h2>

<form asp-controller="MTG" asp-action="CardSearch" method="get">
    <div class="Card ControlCard">
        <div class="Control">
            Card Name:
        </div>
        <div class="Control">
            <input class="InputField" type="text" name="NameFilter" />
        </div>
        <div class="Control">
            Set Name:
        </div>
        <div class="Control">
            <select class="InputField" asp-for="SetFilter" asp-items="Model.SetFilterList">
                <option value="">All</option>
            </select>
        </div>
        <div class="MTGColor">
            <input type="checkbox" id="RedFilter" asp-for="@Model.ColorFilters[0].Selected" />
            <label for="RedFilter"></label>
            <input type="hidden" asp-for="@Model.ColorFilters[0].Color" />
        </div>
        <div class="MTGColor">
            <input type="checkbox" id="WhiteFilter" asp-for="@Model.ColorFilters[1].Selected" />
            <label for="WhiteFilter"></label>
            <input type="hidden" asp-for="@Model.ColorFilters[1].Color" />
        </div>
        <div class="MTGColor">
            <input type="checkbox" id="GreenFilter" asp-for="@Model.ColorFilters[2].Selected" />
            <label for="GreenFilter"></label>
            <input type="hidden" asp-for="@Model.ColorFilters[2].Color" />
        </div>
        <div class="MTGColor">
            <input type="checkbox" id="BlackFilter" asp-for="@Model.ColorFilters[3].Selected" />
            <label for="BlackFilter"></label>
            <input type="hidden" asp-for="@Model.ColorFilters[3].Color" />
        </div>
        <div class="MTGColor">
            <input type="checkbox" id="BlueFilter" asp-for="@Model.ColorFilters[4].Selected" />
            <label for="BlueFilter"></label>
            <input type="hidden" asp-for="@Model.ColorFilters[4].Color" />
        </div>
        <div class="MTGColor">
            <input type="checkbox" id="ColorlessFilter" asp-for="@Model.ColorFilters[5].Selected" />
            <label for="ColorlessFilter"></label>
            <input type="hidden" asp-for="@Model.ColorFilters[5].Color" />
        </div>
        <div class="ClearStyleDiv"></div>
        <div class="Control">
            Type:
        </div>
        <div class="Control">
            <input class="InputField" type="text" name="TypeFilter" />
        </div>
        <div class="Control">
            <input class="InputField" type="submit" value="Filter" />
        </div>
    </div>
</form>

<div>
</div>
